
ACCOUNTS=your_email@outlook.com

ACCOUNT=all

ORDER_TARGET_NAME=zn6h

# Discord Webhook for out-of-item notifications
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1547288275050430577/wEpCQkTGZ_ltD4qkgy8ZWa60GXVU5ddgxOqbPwZZcfLFD_BXL5KbxFRGp18XkjfK0U9s
